/* Common Start */

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.download-button-group {
  text-align: left;
}

/* Common End */

/* Section */

.colored-section{
  background-color: #ff4c68;
}

.white-section{
  color: white;
}

/* Title Section Start */

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-header {
  color: white;
  font-size: 3rem;
  line-height: 1.5;  
  text-align: left;
}

.title-image {
  width: 23%;
  transform: rotate(25deg);
  padding: 2%;
  z-index: 0;
  position: absolute;
  right: 22%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}

.navitem {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title Section End */

/* Features Section Start */

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 2;
  background-color: white;
}

.features-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Features Section End */

/* Testimonial Section Start*/

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}
/* Testimonial Section End */

/* Press Section Start */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* Press Section End */

/* Pricing Section Start */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  color: black;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  color: black;
  font-size: 3rem;
  line-height: 1.5;
}

.card-header{
  color: black;
}

/* Pricing Section End */

/* CTA Section Start */

.cta {
  margin: auto 20%;
  padding-top: 10%;
}

.cta-title{
  color: white;
}

/* CTA Section End */

/* Footer Section Start */

#footer {
  margin: 2%;
}

.social-icon {
  margin: auto 0.4rem;
}

/* Footer Section End */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 100%;
  }
}
